@import url('./parameter.css');
@import url('./animation.css');
@font-face {
    font-family: 'InterFont';
    src: url('../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
     
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
    font-family: 'InterFont',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    max-width: 1900px;
    max-height: 1080px;
    margin: 0 auto;
}

.header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: var(--color_navbar);
    width: calc(100% - 80px);
    max-width: calc(1900px - 80px);
    padding: 10px 5%;
    margin: 20px 40px 0px 40px;
    border-radius: var(--radius_navbar);
    z-index: 100;
}
.logo-img{
    width: 130px;
    height:100%;
}
.logo{
    position: relative;
    width: 130px;
    height:35px;
    margin-left: -20px;
    margin-right: 50px;
}
.logo::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: var(--color_navbar);
    width: 130px;
    height:35px;
    animation: logo 1s linear forwards;
    animation-delay: 0.5s;
}






.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 50px
}

.nav-items .link{
    position: relative;
    color: #fff;
    font-size: var(--fontSize_linkNav);
    font-weight: 400;
    cursor: pointer;
}

.nav-items .link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #fff;
    left: 0;
    bottom: -22px;
    transition: all 0.3s;
}

.nav-items .link:hover::after{
    width: 100%;
}

.select-language{
    border: none;
    outline: none;
    font-size: var(--fontSize_linkNav);
    color: #fff;
    background: transparent;
    width: 110px;
    cursor: pointer;
}

.select-language .option{
    color: #000;
    width: 100%;
}


.contact-button{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: var(--button_navbar);
    border-radius: var(--radius_buttonNav);
    background: #000;
    transition: all 0.3s;
    font-weight: bold;
}

.contact-button:hover{
    color: #000;

    background: #fff;
}














.main{
    width: 100%;
    height: 100vh;
    max-width: 1900px;
    max-height: 1080px;
    background: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main .info-logo-main{
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: -5%;
    padding-left: 5%;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    animation: destaque 2.5s linear forwards;
    animation-delay: 1.5s;
}

.main .info-logo-main .logo-destaque{
    width: 400px;
    height: 90px;
}

.main .info-logo-main .text-main{
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
    width: 250px;
}

.btn-more{
    color: #000;
    text-align: left;
    padding-left: 15px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10%;
    border-radius: 10px;
    background-color: #fff;
    width: 150px;
    height: 40px;
    background-image: url('../../img/Icon/seta-direita.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: calc(100% - 15px);
    background-size: 15px;
    transition: all 0.6s;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
}
.btn-more:hover{
    padding-left: 30px;
    color: #fff;
    background-color: #0B0B0B;
    background-position-x: calc(100% - -20px);
}












.circle-effect{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.circle-effect .box-ball {
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(60deg, #1400FF,#1500ff60, #000000);
    border-radius: 50%;
    animation: balls_animated 2s linear infinite alternate;
    opacity: 0;
}

.circle-effect .box-ball:nth-child(1){
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    position: relative;
   animation-delay: 0.5s;
}
.circle-effect .box-ball:nth-child(1)::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(60deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 1s;


}

.circle-effect .box-ball:nth-child(1)::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    right:60px;
    bottom: -90px;
    background: linear-gradient(200deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 1.5s;
    
}



.circle-effect .box-ball:nth-child(2){
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
   animation-delay: 1s;
}
.circle-effect .box-ball:nth-child(2)::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    left: -30px;
    bottom: -10px;
    background: linear-gradient(60deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 1.2s;

 
}
.circle-effect .box-ball:nth-child(2)::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    right:60px;
    bottom: -70px;
    background: linear-gradient(60deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 1.7s;
}

.circle-effect .box-ball:nth-child(3){
    top: 30%;
    right: 20%;
    width: 130px;
    height: 130px;
   animation-delay: 1.5s;
}
.circle-effect .box-ball:nth-child(3)::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    right: -20px;
    bottom: -90px;
    background: linear-gradient(60deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 1.8s;


}
.circle-effect .box-ball:nth-child(3)::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    right:60px;
    bottom: -60px;
    background: linear-gradient(60deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 2.1s;

}



.circle-effect .box-ball:nth-child(4){
    bottom: 20px;
    right: 20px;
    width: 140px;
    height: 140px;
    animation-delay: 2s;

}
.circle-effect .box-ball:nth-child(4)::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    left: -40px;
    top: 90px;
    background: linear-gradient(60deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 2.3s;
    
}
.circle-effect .box-ball:nth-child(4)::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    right:60px;
    bottom: -70px;
    background: linear-gradient(60deg, #1400FF, #000000);
    border-radius: 100%;
    animation-delay: 2.6s;
}

.circle-effect .box-ball:nth-child(5){
    bottom: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
   animation-delay: 0s;
}

.circle-effect .box-ball::after,
.circle-effect .box-ball::before {
    animation: pseudoelement_animation 8s linear infinite alternate;
    opacity: 0;
}


















.main .blob{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    opacity: 0;
    animation: destaque 2s linear forwards;
    animation-delay: 1s;
}

.main .blob .img-blob {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: blob-animated 5s linear alternate infinite;
    animation-delay: 1s;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    background: linear-gradient(to bottom, #1400FF, #4584FF);
}
.main .blob .img-blob img{
    width: 220px;
    transform: none;
}
.main .blob .qualifics{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 40px;
    border-radius: 5px;
    text-align: left;
    line-height: 40px;
    padding-left: 15px;
    font-size: larger;
    font-weight: 500;
    color: #fff;
    background: #0B0B0B;
    box-shadow: 0px 6px 10px -7px #42424296;
    background-image: url('../../img/Icon/verificacao.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: calc(100% - 10px);
    background-size: 20px;
    font-size: 1rem;
    letter-spacing: 1px;
}
.main .blob .qualifics:nth-child(2){top: 25%; right: -40%;}
.main .blob .qualifics:nth-child(3){bottom: 45%; right: -25%;}
.main .blob .qualifics:nth-child(4){top: 45%; left: -40%;}
.main .blob .qualifics:nth-child(5){bottom: 25%; left: -25%;}











.main .box-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 120px;
    background: #fff;
    position: absolute;
    border-radius: 0px 70px 0px 0px;
    left: 0;
    bottom: 0;
    z-index: 10;

}
.main .box-social::after{
    position: absolute;
    content: '';
    background-color: #000000;
    width: 100px;
    height: 100px;
    right: -100px;
    border-radius: 100px;
    bottom: 0px;
    z-index: 1;
}
.main .box-social::before{
    position: absolute;
    content: '';
    background-color: #ffffff;
    width:50px;
    height: 50px;
    right: -50px;
    bottom: 0px;
    z-index: 0;
}

.box-social .card-social{
    width: 60px;
    height: 60px;
    background: #c9c9c9;
    box-shadow: 0px 0px 10px -2px #000;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-social .card-social .icon-social{
    color: #000;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    transition: all 0.3s;
}
.box-social .card-social .icon-social:hover{
    color: #fff;
    background: #000;
    filter: brightness(0.8) blur(1px) contrast(0.8) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}



.message-card-social{
    position: absolute;
    padding: 10px 5px;
    width: 180px;
    height: 100px;
    top: -110px;
    right: -180px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 2px #000;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s;
}

.message-card-social::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px #000;
    bottom: -13px;
    left: -13px;
}

.box-social .card-social:hover .message-card-social{
    opacity: 1;
}
.message-card-social .name-social-i {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1rem;
    color: rgb(92, 92, 92);
}



.text-social{
    font-size: 0.9rem;
}

.section{
    width: 100%;
    height: 100vh;
    max-width: 1900px;
    max-height: 1080px;
    background: #fff;
}